$blue: #007ef3;
$orange: #f3aa00;

$dayGrey: #f8f8f8;
$nightGrey: #161616;

$contrastDayGrey: #e6e6e6;
$contrastNightGrey: #5d5d5d;

$dayGreen: #effff7;
$nightGreen: #002412;

$dayRed: #fbf0f0;
$nightRed: #240000;
